@import "layout";

img {
	display: block;
}

body {

  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(#000, 0.5);
    transition: $site-navigation-slide-timing;
  }

  &.toggle-overlay {
    overflow: hidden;

    &:before {
      visibility: visible;
      opacity: 1;
    }
  }
}
