.container {
  max-width: $container-max-width;
  padding: 0 $container-padding;
  margin-left: auto;
  margin-right: auto;

  .row {
    margin-left: -$container-padding;
    margin-right: -$container-padding;

    .col {
      padding: 0 $container-padding;
    }
  }
}

.flex-container {
  display: flex;
  align-items: center;

  &.column {
    flex-direction: column;
  }

  &.row {
    flex-direction: row;
  }

  &.between {
    justify-content: space-between;
  }

  &.align-center,
  &.center {
    align-items: center;
  }

  &.justify-center,
  &.center {
    justify-content: center;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  @media (min-width: $device-md) {
    &.row-md {
      flex-direction: row;
    }

    &.between-md {
      justify-content: space-between;
    }
  }
}
