button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	position: relative;
	border: 0;
	border-color: transparent;
	border-radius: 0;
	background: transparent;
	color: inherit;
	font-size: inherit;
	line-height: 1;
	padding: 0;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
		outline: 0;
	}
}
