a {
	color: $color-secondary;
	text-decoration: none;
	transition: color $base-transition;

	&:visited {
		color: $color-secondary;
	}
	&:hover,
	&:focus,
	&:active {
		color: darken( $color-primary, 15% );
		outline: 0;
	}
}
